<footer class="gh-foot">
    <div class="gh-container nl-foot">
        <div class="foot-icon">
            {{#if @site.icon}}
                <img src="{{@site.icon}}" alt="{{@site.title}}" />
                <p>Neat Lines, LLC</p>
            {{else}}
                {{@site.title}}
            {{/if}}
        </div>
        <div class="foot-info">
            <div>
                <p>Address</p>
                <p>Denver, CO</p>
            </div>
            <div>
                <p>Phone</p>
                <p>555-555-5555</p>
            </div>
            <div>
                <p>Email</p>
                <p>Marketing@neatlinesco.com</p>
            </div>
        </div>
        <div class="gh-foot-menu">
            {{navigation}}
            {{navigation type="secondary"}}
        </div>
        <div class="gh-foot-meta">
            {{!-- Published with <a href="https://ghost.org" target="_blank" rel="noopener">Ghost</a> --}}
        </div>
{{!--         <div class="gh-head-actions">
            <div class="gh-head-actions-list">
                {{#if @site.facebook}}
                <a href="{{facebook_url @site.facebook}}" title="Facebook" target="_blank" rel="noopener">{{> "icons/facebook"}}</a>
                {{/if}}
                {{#if @site.twitter}}
                <a href="{{twitter_url @site.twitter}}" title="Twitter" target="_blank" rel="noopener">{{> "icons/twitter"}}</a>
                {{/if}}
                <a href="https://feedly.com/i/subscription/feed/{{@site.url}}/rss/" title="RSS" target="_blank" rel="noopener">{{> "icons/rss"}}</a>
            </div>
        </div> --}}
    </div>
</footer>