<!DOCTYPE html>
<html lang="{{@site.lang}}">
<head>

    {{! Site META }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="{{asset "built/css/screen.css"}}" />

    {{! Site Description }}
    <title>{{meta_title}}</title>

    {{! Font Awesome }}
    <script src="https://kit.fontawesome.com/a667827803.js" crossorigin="anonymous"></script>

    {{! Fonts }}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/fsy8jxl.css" >
    
    {{! Site CSS Assets }}
    <link href="{{asset "css/neatlines/index.css"}}" rel="stylesheet" type="text/css">

    {{ghost_head}}
    {{!-- Outputs important meta data and settings, should always be in <head> --}}

</head>
<body class="{{body_class}}">
<div class="gh-viewport">

{{! Navbar Partial - partials/navbar.hbs}}
{{> navbar }}

<main class="gh-main">

    {{{body}}}
    {{!-- All content gets inserted here, index.hbs, post.hbs, etc --}}

</main>

{{> footer }}

</div>

{{!-- <foot> --}}

<script src="{{asset "built/js/jquery-3.4.1.min.js"}}"></script>

{{#if pagination.pages}}
<script>
    var maxPages = parseInt('{{pagination.pages}}');
</script>
<script src="{{asset "built/js/infinitescroll.js"}}"></script>
{{/if}}

<script>
$(document).ready(function () {
    // Mobile Menu Trigger
    $('.gh-burger').click(function () {
        $('body').toggleClass('gh-head-open');
    });
});
</script>

{{#is "post, page"}}
<script src="{{asset "built/js/jquery.fitvids.js"}}"></script>
<script>
var images = document.querySelectorAll('.kg-gallery-image img');
images.forEach(function (image) {
    var container = image.closest('.kg-gallery-image');
    var width = image.attributes.width.value;
    var height = image.attributes.height.value;
    var ratio = width / height;
    container.style.flex = ratio + ' 1 0%';
});
$(document).ready(function () {
    var $postContent = $(".gh-content");
    $postContent.fitVids();
});
</script>
<script src="{{asset "built/js/contact-form.js"}}"></script>
{{/is}}

{{ghost_foot}}
{{!-- Outputs important scripts - should always be included before closing body tag --}}

</body>
</html>
